body {
    margin: 10px 150px 50px 150px;
    background-color: lightyellow;
}

h1 {
    color: red;
}

span {
    color: red;
    font-style: italic;
    font-weight: bold;
}

div {
    padding: 5px 10px 15px 20px;
    margin-bottom: 20px;
    background-color: rgb(255 165 0 / 0.25);
    border: 1px solid darkred;
    border-radius: 50px 0px 50px 0px;
    overflow: auto;
}

.footer{
    text-align: center;
    border: 0px;
    border-radius: 0;
    background-color: transparent;
    border-top: 2px dotted darkred;
    
}

.logo {
    text-align: center;
}

.afbeelding-rechts-van-tekst {
    float: right;

}

.clear{
    clear: both;
}

.navigation {
    border: 0px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 2px dotted darkred;
    
}
    
.navigation ul {
    font-size: 1.5rem;
    list-style-image: url("/images/listIcon.png");
}

.navigation a {
    text-decoration-line: none;
    font-weight: bold;
    color: red;
}

#cover8man {
    width: 200px;
    margin: 10px 25px 10px 10px;
    float: left;
}

#covergreenlama{
    height: 275px;
    margin: 10px 25px 10px 10px;
    float: left;
}

#coverstardust{
    width: 40%;
    margin: 20px;
    float: left;
}

